@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista de Tarefas") {
    
    <h1>@tasks.size() Tarefa(s)</h1>
    
    
    <ul>
     
    	@if(tasks.size() != 0){
    	
    		<h2>Tarefa(s) a fazer</h2>
    	
   			@Collections.sort(tasks)
   			
       		@for(task <- tasks) {
           		<li>
               		@task.registrar
               		@task.descrição
               		@task.projeto
               		@task.prioridade
               
               		
               		@form(routes.Application.deleteTask(task.getId())) {
                   		<input type="submit" value="Excluir">
               		}
               		
               		@form(routes.Application.done()) {
               			<input type="submit" value="Feito">
               		}
           		</li>
       		}
       	}
        
    </ul>
    
    
    <h3>Adicionar uma nova tarefa</h3>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("registrar")) 
        
        @inputText(taskForm("descrição")) 
        
        @inputText(taskForm("projeto"))
        
        @inputText(taskForm("prioridade"))
        
        <input type="submit" value="Criar">
        
    }
    
}