@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista de Tarefas") {            
                           
	@Collections.sort(tasks)

	<style type="text/css">
  body {
	background-image: url("http://imageshack.com/a/img21/9336/p81.gif") }
  </style>
		
		                          
    <center><h1>@tasks.size() Tarefa(s)</h1></center>
     
    <div id="corpo" >
    <table class="tabela" style="float:left;">
            <tr style="background-color: transparent;">
                    <th style="border:none;font-size: 20px;"> 
                            Tarefas a Fazer 
                    </th>
            </tr>
                   <tr style="background-color: #8B8B7A;">
                       <th >PRIORIDADE</td>
                       <th >PROJETO</td>
                       <th >DESCRIÇÃO</td>
                       <th >AÇÕES</td>
               </tr>
        @for(task <- tasks) {
                @if(task.isFeito() == false) {
            <tr>
                    <td >@task.prioridade</td>
                    <td >@task.projeto</td>
                    <td >@task.registrar</td>
                
                <td >
                @form(routes.Application.update(task.getId())) {
                        <input type="submit" value="Feito" class="done">
                }
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar" class="del">
                }
                </td>
            </tr>
            }
        }
    </table>
    <table class="tabela" style="float:right;margin-right:20px;">
            <tr style="background-color: transparent;">
                    <th style="border:none;font-size: 20px;"> 
                            Tarefas Feitas
                    </th> 
            </tr>
                   <tr style="background-color: #8B8B7A;">
                       <th >PRIORIDADE</td>
                       <th >PROJETO</td>
                       <th >DESCRIÇÃO</td>
                       <th >AÇÕES</td>
               </tr>
        @for(task <- tasks) {
                @if(task.isFeito() == true) {
            <tr>
                    <td >@task.prioridade</td>
                    <td >@task.projeto</td>
                    <td >@task.registrar</td>
                <td >
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar" class="del">
                }
                </td>
            </tr>
            }
        }
    </table>
    </div>
    
    <div id="formulario">   
    	<center>
			<h2>Adicione uma nova tarefa</h2>
		</center>
    	<STYLE> 
		<!-- 
		.test{position: absolute; top: 125px; left: 550px;} 
		--> 
		</STYLE>  
		<BODY> 
		<DIV class=test> 
			<center>
    		@form(routes.Application.newTask()) {
        
        		@inputText(taskForm("registrar"), '_label->"Descrição") 
        		@inputText(taskForm("prioridade"), '_label->"Prioridade")
        		@inputText(taskForm("projeto"), '_label->"Projeto")

        		<input type="submit" value="Criar" class="create">        
    		}
 			</center>
		</DIV> 
		</BODY> 
	</div>
}